<h2>Áraink</h2>
<h3>Bowling pálya</h3>
<p>1 óra: 2500 Ft/fő</p>
<p>Egy pályán egyszerre maximum 8 fő játszhat!</p>
<div class = "foods">
  <h3>Ételek</h3>
  <ul>
    <li>Pepperoni pizza - 2500 Ft</li>
    <li>Sajtburger - 2000 Ft</li>
    <li>Csirkeszárnyak - 2200 Ft</li>
    <li>Saláta - 1500 Ft</li>
    <li>Hot-dog - 1200 Ft</li>
    <li>Nachos - 1800 Ft</li>
    <li>Rántott sajt - 2000 Ft</li>
    <li>Gyros tál - 2800 Ft</li>
    <li>Fokhagymás kenyér - 900 Ft</li>
    <li>Palacsinta - 1000 Ft</li>
  </ul>
</div>
<div class = "drinks">
  <h3>Italok</h3>
  <ul>
    <li>Ásványvíz - 400 Ft</li>
    <li>Kóla - 500 Ft</li>
    <li>Fanta - 500 Ft</li>
    <li>Sör - 700 Ft</li>
    <li>Fröccs - 800 Ft</li>
    <li>Kávé - 600 Ft</li>
    <li>Tea - 500 Ft</li>
    <li>Gyümölcslé - 600 Ft</li>
    <li>Energiaital - 900 Ft</li>
    <li>Koktél - 1500 Ft</li>
  </ul>
</div>
