<h1>Üdvözlünk a Bowling Klubban!</h1>
<div class = "bemutatkozas">
    <p>Garantáljuk, hogy a legjobb Bowling élményedben lesz részed nálunk legyen szó szülinapról, baráti összejövetelről vagy akár csapatépítőről.</p>
    <p>Foglalj pályát, nézd meg árainkat vagy vedd fel velünk a kapcsolatot!</p>
</div>
<div class="opening-hours">
    <h2>Nyitvatartás</h2>
    <table>
      <thead>
        <tr>
          <th>Nap</th>
          <th>Nyitás</th>
          <th>Zárás</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Hétfő</td><td>14:00</td><td>22:00</td></tr>
        <tr><td>Kedd</td><td>14:00</td><td>22:00</td></tr>
        <tr><td>Szerda</td><td>14:00</td><td>22:00</td></tr>
        <tr><td>Csütörtök</td><td>14:00</td><td>22:00</td></tr>
        <tr><td>Péntek</td><td>14:00</td><td>00:00</td></tr>
        <tr><td>Szombat</td><td>10:00</td><td>00:00</td></tr>
        <tr><td>Vasárnap</td><td>10:00</td><td>20:00</td></tr>
      </tbody>
    </table>
</div>
<div class = "kapcsolat">
    <p>Email: bowlingklub&#64;example.com | Telefon: +36 30 123 4567</p>
</div>
 @if (!isLoggedIn) {
      <button mat-flat-button color="accent" [routerLink]="['/login']" class="tasks">Login</button>
    }
    
    @if (isLoggedIn) {
      <button mat-flat-button color="accent" [routerLink]="['/profile']" class="tasks">My Profile</button>
    }